@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  background-color: black;
}
#page-wrapper {
  font-family: "Righteous", cursive;
  color: white;
  letter-spacing: 2px;
  padding: 0 10%;
}


.logo {
  text-align: center;
}


/* Navigation Bar */
.nav-link {
  text-decoration: none;
  color: #00e7fd;
  text-shadow: 0 0 14px #00e7fd;
  letter-spacing: 2px;
  font-size: 26px;
}
ul {
  list-style: none;
}
nav {
  background-color: black;
  top: 0;
  width: 100%;
  padding: 10px;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* Feature One */
.icon1 {
  float: left;
  width: 10em;
  height: 10em;
  margin-right: 2em;
}
.f1 {
  margin-top: 5em;
}

/* Feature two */
.icon2 {
  float: left;
  width: 10em;
  height: 10em;
  margin-right: 2em;
}
.f2 {
  margin-top: 10em;
}
/* Feature three */
.icon3 {
  float: left;
  width: 10em;
  height: 10em;
  margin-right: 2em;
}
.f3 {
  margin-top: 10em;
  margin-bottom: 10em;
}



/* Pricing */
.protection {
  float: left;
  width: 50%;
  text-align: center;
}
#proimage {
  margin: 2em;
  width: 20em;
  height: auto;
}
.style {
  float: left;
  text-align: center;
  width: 50%;
}
#styleimage {
  margin: 2em;
  width: 20em;
  height: auto;
}

/* News letter */
#newsletter {
  text-align: center;
}


/* Footer */
footer {
  margin-top: 30px;
  background-color: #323232;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
}
